<!DOCTYPE html PUBLIC "-//W3C/DTD HTML 4.01//EN">
<html>
  <head>
    <title><% obplayer.HTTPAdmin.title %></title>
    <meta charset="utf-8" />
    <link href="/common.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <% exec alert = obplayer.alerts.Processor.get_alert(params['id'][0]) %>
    <% exec alert_info = alert.get_first_info(obplayer.alerts.Processor.language_primary) %>
    <h2>Details of <% alert.identifier %></h2>

    <div id="alert-details">

      <table>
	<tr>
	  <td>Identifier:</td>
	  <td><% alert.identifier %></td>
	</tr>
	<tr>
	  <td>Sender:</td>
	  <td><% alert.sender %></td>
	</tr>
	<tr>
	  <td>Sent:</td>
	  <td><% alert.sent %></td>
	</tr>
	<tr>
	  <td>Codes:</td>
	  <td><% '<br />\n'.join(alert.codes) %></td>
	</tr>
	<tr>
	  <td>Status:</td>
	  <td><% alert.status %></td>
	</tr>
	<tr>
	  <td>Message Type:</td>
	  <td><% alert.msgtype %></td>
	</tr>
	<tr>
	  <td>Scope:</td>
	  <td><% alert.scope %></td>
	</tr>
      </table>

      <table>
	<tr>
	  <td>Language:</td>
	  <td><% alert_info.language %></td>
	</tr>
	<tr>
	  <td>Event:</td>
	  <td><% alert_info.event %></td>
	</tr>
	<tr>
	  <td>Urgency:</td>
	  <td><% alert_info.urgency %></td>
	</tr>
	<tr>
	  <td>Severity:</td>
	  <td><% alert_info.severity %></td>
	</tr>
	<tr>
	  <td>Certainty:</td>
	  <td><% alert_info.certainty %></td>
	</tr>
	<tr>
	  <td>Expires:</td>
	  <td><% alert_info.expires %></td>
	</tr>
	<tr>
	  <td>Sender Name:</td>
	  <td><% alert_info.sender %></td>
	</tr>
	<tr>
	  <td>Headline:</td>
	  <td style="text-decoration: underline;"><% alert_info.headline %></td>
	</tr>
	<tr class="padding">
	  <td>Description:</td>
	  <td><% alert_info.description.replace('\n', '<br />\n') %></td>
	</tr>
	<tr class="padding">
	  <td>Instruction:</td>
	  <td><% alert_info.instruction.encode('utf-8') %></td>
	</tr>
	<tr>
	  <td>Parameters:</td>
	  <td><% u'<br />\n'.join([ u"<i>" + unicode(name) + u"</i>: <b>" + unicode(val) + u"</b>" for (name, val) in alert_info.parameters ]) %></td>
	</tr>
	<tr>
	  <td>Event Codes:</td>
	  <td><% u'<br />\n'.join([ u"<i>" + unicode(name) + u"</i>: <b>" + unicode(val) + u"</b>" for (name, val) in alert_info.eventcodes ]) %></td>
	</tr>
	<tr>
	  <td>Attached Resources:</td>
	  <td><% u'<br />\n'.join([ unicode(resource.uri) + u" (" + unicode(resource.mimetype) + u": " + unicode(resource.size) + u")" for resource in alert_info.resources ]) %></td>
	</tr>
      </table>

    </div>

    <p style="font-size: 0.9em; padding-top: 1em;">OpenBroadcaster Player is released under Affero GPL v3 and may be downloaded at <a href="http://www.openbroadcaster.com/">openbroadcaster.com</a>.  View <a href="http://www.gnu.org/licenses/agpl.html">license</a>.</p>

  </body>
</html>
