body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1
{
  font-weight: normal;
  font-size: 24px;
  padding: 0;
  margin: 15px 0 15px 0;
}

h2
{
  font-weight: normal;
  font-size: 20px;
  padding: 0;
  margin: 30px 0 15px 0;
}

h2:first-child
{
  margin-top: 0;
}

#tabs
{
  border-bottom: 5px solid #2A2D79;
}

#tabs .tab
{
  cursor: pointer;
  float: left;
  border-right: 1px solid #2A2D79;
  border-top: 1px solid #2A2D79;
  padding: 8px;
  font-size: 14px;
}

#tabs .tab:first-child
{
  border-left: 1px solid #2A2D79;
}

#tabs .selected
{
  background-color: #2A2D79;
  color: #fff;
}

#commands
{
  text-align: right;
}

#content
{
  padding: 30px;
  border-left: 1px solid #2A2D79;
  min-height: 300px;
}

#content table .padding td
{
  padding-top: 15px;
}

#content table td:first-child
{
  width: 16em;
}

#error,
.error
{
  border: 1px solid #333;
  padding: 5px;
  background-color: #f99;
  margin-bottom: 20px;
}

#notice
{
  border: 1px solid #333;
  padding: 5px;
  background-color: #9f9;
  margin-bottom: 20px;
}

.summary
{
  vertical-align: top;
  display: inline-block;
  width: 22em;
}

.summary h4
{
  margin-top: 0px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.summary div label
{
  display: inline-block;
  width: 8em;
}

#live-audio-summary {
  margin-right: 4em;
}

#log-data
{
  height: 30em;
  overflow: auto;
}

.alerts-table
{
  width: 100%;
  margin: 5px;
  padding: 5px;
  border: 1px solid #000;
}

.alerts-table .headline
{
  text-decoration: underline;
  cursor: pointer;
}

.alerts-table .fit
{
  width: 1%;
  white-space: nowrap;
}

.alerts-table .center
{
  text-align: center;
}

#audio-levels
{
  border: 1px solid black;
}

#alert-details table
{
  border: 1px solid #2A2D79;
  width: 100%;
  margin: 4px;
}

#alert-details table td:first-child
{
  width: 8em;
  text-align: right;
  font-weight: bold;
  vertical-align: top;
}

#alert-details table .padding td
{
  padding-top: 10px;
}


.advanced-settings {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #2A2D79;
}

.advanced-settings > input + label + table {
  padding-top: 2px;
  padding-left: 20px;
}

.advanced-settings > input {
  display: none;
}

.advanced-settings > input ~ table {
  display: none;
}

.advanced-settings > input:checked ~ table {
  display: block;
}

.advanced-settings > input + label::before {
  content: "\229e";
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: bottom;
}

.advanced-settings > input:checked + label::before {
  content: "\229f";
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: bottom;
}

label.advanced-settings,
label.advanced-settings::before {
  cursor: pointer;
  display: inline-block;
}

.experimental-settings {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #2A2D79;
}

.experimental-settings > input + label + table {
  padding-top: 2px;
  padding-left: 20px;
}

.experimental-settings > input {
  display: none;
}

.experimental-settings > input ~ table {
  display: none;
}

.experimental-settings > input:checked ~ table {
  display: block;
}

.experimental-settings > input + label::before {
  content: "\229e";
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: bottom;
}

.experimental-settings > input:checked + label::before {
  content: "\229f";
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: bottom;
}

label.experimental-settings,
label.experimental-settings::before {
  cursor: pointer;
  display: inline-block;
}

.stl-settings {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #2A2D79;
}

.stl-settings > input + label + table {
  padding-top: 2px;
  padding-left: 20px;
}

.stl-settings > input {
  display: none;
}

.stl-settings > input ~ table {
  display: none;
}

.stl-settings > input:checked ~ table {
  display: block;
}

.stl-settings > input + label::before {
  content: "\229e";
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: bottom;
}

.stl-settings > input:checked + label::before {
  content: "\229f";
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: bottom;
}

label.stl-settings,
label.stl-settings::before {
  cursor: pointer;
  display: inline-block;
}

.pulse-mixer {
  margin-left: 10px;
}

.pulse-mixer h5 {
  margin-bottom: 4px;
}

.pulse-mute {
  padding: 0px;
  font-size: 0.7em;
}

.pulse-mute.mute {
    text-decoration: line-through;
}

input[type="range"] {
  background: aliceblue;
}

.pulse-select {
  width: 20em;
  font-size: 0.7em;
}

#map-container {
  height:400px;
  width:400px;
  border: 1px solid #0f0f0f;
  border-radius: 5px;
  padding: 2px;
  overflow: hidden;
}

#map {
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  width:400px;
  height:400px;
  overflow:hidden;
}

#logs-download {
  overflow: hidden;
}

#logs-download .column {
  display: inline-block;
  float: left;
  margin-right: 4em;
}

#logs-download .filesize {
  font-size: 0.75em;
  text-align: right;
}

.select2-search__field {
  min-width: 100px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-content {
  box-sizing: border-box;
  max-width: 80%;
  max-height: 80%;
  padding: 24px;
  margin: 24px auto;
  background-color: #fff;
}

.modal-content ul {
  padding: 0;
  list-style: none;
}

.modal_close_btn {
  float: right;
  outline: none;
  background-color: #fff;
  border: 0;
  font-size: 32px;
}

.modal_close_btn:hover {
  cursor: pointer;
}

#update_modal > .modal-content {
  border: 2px dotted #fc3d03;
}

#update_modal p {
  font-size: 38px;
}

#update_modal textarea {
  width: 100%;
}

.warning-text {
  color: #fc3d03;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
}

.tos_textarea {
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 20px;
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
}
