body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1
{
  font-weight: normal;
  font-size: 34px;
  padding: 0;
  margin: 15px 0 30px 0;
}

h2
{
  font-weight: normal;
  font-size: 24px;
  padding: 0;
  margin: 30px 0 15px 0;
}

h2:first-child
{
  margin-top: 0;
}

#tabs
{
  border-bottom: 5px solid #66f;
}

#tabs .tab
{
  cursor: pointer;
  float: left;
  border-right: 1px solid #66f;
  border-top: 1px solid #66f;
  padding: 8px;
  font-size: 14px;
}

#tabs .tab:first-child
{
  border-left: 1px solid #66f;
}

#tabs .selected
{
  background-color: #66f;
  color: #fff;
}

#commands
{
  text-align: right;
}

#content 
{
  padding: 30px;
  border-left: 1px solid #66f;
  min-height: 300px;
}

#content table .padding td
{
  padding-top: 15px;
}

#content table td:first-child
{
  width: 16em;
}

#error
{
  border: 1px solid #333;
  padding: 5px;
  background-color: #f99;
  margin-bottom: 20px;
}

#notice
{
  border: 1px solid #333;
  padding: 5px;
  background-color: #9f9;
  margin-bottom: 20px;
}

#log-data
{
  height: 40em;
  overflow: auto;
}

#active-alerts
{
    margin: 5px;
    padding: 5px;
    border: 1px solid #000;
}

