<!DOCTYPE html PUBLIC "-//W3C/DTD HTML 4.01//EN">
<html>
  <head>
    <title><% obplayer.HTTPAdmin.title %></title>
    <meta charset="utf-8" />
    <link href="/common.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/common.js"></script>
  </head>

  <body>

    <h1><% obplayer.HTTPAdmin.title %></h1>

    <div id="tabs">
      <div class="tab selected" data-content="status">Status</div>
      <div class="tab" data-content="summary">Summary</div>
      <div class="tab" data-content="basic">Basic</div>
      <div class="tab" data-content="sync">Sync/Media</div>
      <div class="tab" data-content="audio">Audio/Visualization</div>
      <div class="tab" data-content="alerts">Emergency Alerts</div>
      <div class="tab" data-content="http">HTTP(S) Admin</div>
      <div class="tab" data-content="liveassist">Live Assist</div>

      <div id="commands">
        <input id="command_quit" type="button" value="Quit/Restart" onclick="Site.quit();">
        <input id="command_fullscreen" type="button" value="Fullscreen (<% obplayer.HTTPAdmin.fullscreen_status() %>)" onclick="Site.fullscreen();">
      </div>

      <div style="clear: both;"></div>
    </div>



    <div id="content">

      <div id="notice" style="display: none;"></div>
      <div id="error" style="display: none;"></div>

      <div id="content-status">

	<div id="show-summary" class="summary">
	  <h4>Show</h4>
	  <div>
	    <label>Current Time:</label>
	    <span id="show-summary-time"></span>
	  </div>
	  <div>
	    <label>Show Type:</label>
	    <span id="show-summary-type"></span>
	  </div>
	  <div>
	    <label>Show ID:</label>
	    <span id="show-summary-id"></span>
	  </div>
	  <div>
	    <label>Show Name:</label>
	    <span id="show-summary-name"></span>
	  </div>
	  <div>
	    <label>Show Description:</label>
	    <span id="show-summary-description"></span>
	  </div>
	  <div>
	    <label>Last Updated:</label>
	    <span id="show-summary-last-updated"></span>
	  </div>
	</div>

	<div id="audio-summary" class="summary">
	  <h4>Audio Stream</h4>
	  <div>
	    <label>Media Type:</label>
	    <span id="audio-summary-media-type"></span>
	  </div>
	  <div>
	    <label>Order #:</label>
	    <span id="audio-summary-order-num"></span>
	  </div>
	  <div>
	    <label>Media ID:</label>
	    <span id="audio-summary-media-id"></span>
	  </div>
	  <div>
	    <label>Media Artist:</label>
	    <span id="audio-summary-artist"></span>
	  </div>
	  <div>
	    <label>Media Title:</label>
	    <span id="audio-summary-title"></span>
	  </div>
	  <div>
	    <label>Media Duration:</label>
	    <span id="audio-summary-duration"></span>
	  </div>
	  <div>
	    <label>Scheduled End:</label>
	    <span id="audio-summary-end-time"></span>
	  </div>
	  <div>
	    <canvas id="audio-levels" width=200 height=20></canvas>
	  </div>
	</div>

	<div id="visual-summary" class="summary">
	  <h4>Visual Stream</h4>
	  <div>
	    <label>Media Type:</label>
	    <span id="visual-summary-media-type"></span>
	  </div>
	  <div>
	    <label>Order #:</label>
	    <span id="visual-summary-order-num"></span>
	  </div>
	  <div>
	    <label>Media ID:</label>
	    <span id="visual-summary-media-id"></span>
	  </div>
	  <div>
	    <label>Media Artist:</label>
	    <span id="visual-summary-artist"></span>
	  </div>
	  <div>
	    <label>Media Title:</label>
	    <span id="visual-summary-title"></span>
	  </div>
	  <div>
	    <label>Media Duration:</label>
	    <span id="visual-summary-duration"></span>
	  </div>
	  <div>
	    <label>Scheduled End:</label>
	    <span id="visual-summary-end-time"></span>
	  </div>
	</div>

	<div id="log-window">
	  <h4>Logs</h4>
	  <div>
	    <label>Log Level:</label>
	    <select id="log_level">
              <option value="normal">Normal</option>
              <option value="debug">Debug</option>
            </select>
	  </div><br />
	  <div id="log-data">
	    <!-- Content loaded when displayed -->
	  </div>
	</div>
      </div>
      <div style="display: none;" id="content-summary">

	<h2>Current Configuration</h2>

	<table>
	  <tr>
	    <td>Version:</td>
	    <td>v<% obplayer.Config.version %></td>
	  </tr>
	  <tr>
	    <td>Local Time:</td>
	    <td><% time.strftime("%c") %></td>
	  </tr>
	  <tr class="padding">
	    <td>Device ID:</td>
	    <td><% obplayer.Config.setting('sync_device_id') %></td>
	  </tr>
	  <tr>
	    <td>Device Password:</td>
	    <td>(hidden)</td>
	  </tr>
	  <tr>
	    <td>Sync URL:</td>
	    <td><% obplayer.Config.setting('sync_url') %></td>
	  </tr>
	  <tr>
	    <td>Sync Amount (buffer):</td>
	    <td><% obplayer.Config.setting('sync_buffer') %> hours</td>
	  </tr>
	  <tr class="padding">
	    <td>Remote Media Location:</td>
	    <td><% obplayer.Config.setting('remote_media') %></td>
	  </tr>
	  <tr>
	    <td>Show Lock-in Time:</td>
	    <td><% obplayer.Config.setting('sync_showlock') %> minutes</td>
	  </tr>
	  <tr>
	    <td>Media Sync Frequency:</td>
	    <td><% obplayer.Config.setting('sync_freq') %> minutes</td>
	  </tr>
	  <tr>
	    <td>Emergency Sync Frequency:</td>
	    <td><% obplayer.Config.setting('sync_freq_emerg') %></td>
	  </tr>
	  <tr>
	    <td>Log Sync Frequency:</td>
	    <td><% obplayer.Config.setting('sync_freq_log') %></td>
	  </tr>
	  <tr>
	    <td>Media Sync Mode:</td>
	    <td id="sync_mode_value"><% obplayer.Config.setting('sync_mode') %></td>
	  </tr>
	  <tr class="backup_media">
	    <td>Backup Downloaded Media:</td>
	    <td><% obplayer.Config.setting('sync_copy_media_to_backup') %></td>
	  </tr>
	  <tr>
	    <td>Fallback Media:</td>
	    <td><% obplayer.Config.setting('fallback_media') %></td>
	  </tr>
	  <tr class="local_media_location">
	    <td>Media Location:</td>
	    <td><% obplayer.Config.setting('local_media') %></td>
	  </tr>
	  <tr class="local_media_location">
	    <td>Uploads (Unapproved) Location:</td>
	    <td><% obplayer.Config.setting('local_uploads') %></td>
	  </tr>
	  <tr class="local_media_location">
	    <td>Archive (Deleted) Location:</td>
	    <td><% obplayer.Config.setting('local_archive') %></td>
	  </tr>
	  <tr class="padding">
	    <td>Audio Visualization Enabled?:</td>
	    <td><% obplayer.Config.setting('audio_out_visualization') %></td>
	  </tr>
	  <tr>
	    <td>Audio Output Mode:</td>
	    <td><% obplayer.Config.setting('audio_out_mode') %></td>
	  </tr>
	  <tr>
	    <td>ALSA Device (if using ALSA):</td>
	    <td><% obplayer.Config.setting('audio_out_alsa_device') %></td>
	  </tr>
	  <tr>
	    <td>Jack Port Name (if using Jack):</td>
	    <td><% obplayer.Config.setting('audio_out_jack_name') %></td>
	  </tr>
	  <tr>
	    <td>Gstreamer Init Callback:</td>
	    <td><% obplayer.Config.setting('gst_init_callback') %></td>
	  </tr>
	  <tr class="padding">
	    <td>Audio Input Mode:</td>
	    <td><% obplayer.Config.setting('audio_in_mode') %></td>
	  </tr>
	  <tr>
	    <td>ALSA Device (if using ALSA):</td>
	    <td><% obplayer.Config.setting('audio_in_alsa_device') %></td>
	  </tr>
	  <tr>
	    <td>Jack Port Name (if using Jack):</td>
	    <td><% obplayer.Config.setting('audio_in_jack_name') %></td>
	  </tr>
	  <tr class="padding">
	    <td>Video Output Enabled?:</td>
	    <td><% obplayer.Config.setting('video_out_enable') %></td>
	  </tr>
	  <tr>
	    <td>Video Output Mode:</td>
	    <td><% obplayer.Config.setting('video_out_mode') %></td>
	  </tr>
	  <tr>
	    <td>Video Output Upscale Size:</td>
	    <td><% str(obplayer.Config.setting('video_out_width')) + " x " + str(obplayer.Config.setting('video_out_height')) %></td>
	  </tr>
	  <tr class="padding">
	    <td>Video Overlay Enabled?:</td>
	    <td><% obplayer.Config.setting('overlay_enable') %></td>
	  </tr>
	  <tr class="padding">
	    <td>HTTPS Enabled?:</td>
	    <td id="https_setting"><% obplayer.Config.setting('http_admin_secure') %></td>
	  </tr>
	  <tr class="ssl_certificate">
	    <td>SSL Certificate:</td>
	    <td><% obplayer.Config.setting('http_admin_sslcert') %></td>
	  </tr>
	  <tr>
	    <td>HTTP Admin Port:</td>
	    <td><% obplayer.Config.setting('http_admin_port') %></td>
	  </tr>
	  <tr>
	    <td>HTTP Admin Username:</td>
	    <td><% obplayer.Config.setting('http_admin_username') %></td>
	  </tr>
	  <tr>
	    <td>HTTP Admin Password:</td>
	    <td>(hidden)</td>
	  </tr>

	  <tr class="padding">
	    <td>Live Assist Enabled?:</td>
	    <td><% obplayer.Config.setting('live_assist_enable') %></td>
	  </tr>
	  <tr>
	    <td>Live Assist HTTP Port:</td>
	    <td><% obplayer.Config.setting('live_assist_port') %></td>
	  </tr>
	</table>

      </div>
      <div style="display: none;" id="content-basic">

        <table class="settings">
          <tbody>
            <tr>
              <td>Device ID</td>
              <td><input type="text" name="sync_device_id" value="<% obplayer.Config.setting('sync_device_id',True) %>"></td>
            </tr>
            <tr>
              <td>Device Password</td>
              <td><input type="password" name="sync_device_password" value="<% obplayer.Config.setting('sync_device_password',True) %>"></td>
            </tr>
            <tr>
              <td>Sync URL</td>
              <td><input type="text" name="sync_url" value="<% obplayer.Config.setting('sync_url',True) %>"></td>
            </tr>
            <tr>
              <td colspan="2"><input name="save" type="button" onclick="javascript: Site.save('basic');" value="Save"></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div style="display: none;" id="content-sync">

        <table class="settings">
          <tbody>
            <tr>
              <td>Enable Scheduler/Sync</td>
              <td><input type="checkbox" name="scheduler_enable" value="1"<% obplayer.HTTPAdmin.form_item_checked('scheduler_enable') %>></td>
            </tr>
            <tr>
              <td>Enable Fallback Media Player</td>
              <td><input type="checkbox" name="fallback_enable" value="1"<% obplayer.HTTPAdmin.form_item_checked('fallback_enable') %>></td>
            </tr>
            <tr>
              <td>Sync Buffer</td>
              <td><input type="text" name="sync_buffer" value="<% obplayer.Config.setting('sync_buffer', True) %>"></td>
            </tr>
            <tr>
              <td>Show Lock</td>
              <td><input type="text" name="sync_showlock" value="<% obplayer.Config.setting('sync_showlock', True) %>"></td>
            </tr>
            <tr>
              <td>Enable Playlog</td>
              <td><input type="checkbox" name="sync_playlog_enable" value="1"<% obplayer.HTTPAdmin.form_item_checked('sync_playlog_enable') %>></td>
            </tr>
            <tr>
              <td>Media Sync Freq</td>
              <td><input type="text" name="sync_freq" value="<% obplayer.Config.setting('sync_freq', True) %>"></td>
            </tr>
            <tr>
              <td>Emergency Sync Freq</td>
              <td><input type="text" name="sync_freq_emerg" value="<% obplayer.Config.setting('sync_freq_emerg', True) %>"></td>
            </tr>
            <tr>
              <td>Playlog Sync Freq</td>
              <td><input type="text" name="sync_freq_log" value="<% obplayer.Config.setting('sync_freq_log', True) %>"></td>
            </tr>
            <tr>
              <td>Media Sync Mode</td>
              <td><select id="sync_media_mode" name="sync_mode">
                <option value="remote"<% obplayer.HTTPAdmin.form_item_selected('sync_mode', 'remote') %>>remote</option>
                <option value="backup"<% obplayer.HTTPAdmin.form_item_selected('sync_mode', 'backup') %>>backup</option>
                <option value="local"<% obplayer.HTTPAdmin.form_item_selected('sync_mode', 'local') %>>local</option>
              </select></td>
            </tr>
            <tr class="sync_display_adjust sync_backup">
              <td>Backup Downloaded Media</td>
              <td><input type="checkbox" name="sync_copy_media_to_backup" value="1"<% obplayer.HTTPAdmin.form_item_checked('sync_copy_media_to_backup') %>></td>
            </tr>
            <tr>
              <td>Fallback Media</td>
              <td><input type="text" name="fallback_media" value="<% obplayer.Config.setting('fallback_media',True) %>"></td>
            </tr>
            <tr class="sync_display_adjust sync_backup sync_local">
              <td>Local Media (approved)</td>
              <td><input type="text" name="local_media" value="<% obplayer.Config.setting('local_media',True) %>"></td>
            </tr>
            <tr class="sync_display_adjust sync_backup sync_local">
              <td>Local Media (unapproved)</td>
              <td><input type="text" name="local_uploads" value="<% obplayer.Config.setting('local_uploads',True) %>"></td>
            </tr>
            <tr class="sync_display_adjust sync_backup sync_local">
              <td>Local Media (archived)</td>
              <td><input type="text" name="local_archive" value="<% obplayer.Config.setting('local_archive',True) %>"></td>
            </tr>
            <tr>
              <td colspan="2"><input name="save" type="button" onclick="javascript: Site.save('sync');" value="Save"></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div style="display: none;" id="content-audio">

        <h4>Audio Output Settings</h4>

        <table class="settings">
          <tbody>
            <tr>
              <td>Audio Output Mode</td>
              <td><select id="audio_out_mode_select" name="audio_out_mode">
                  <option value="auto"<% obplayer.HTTPAdmin.form_item_selected('audio_out_mode','auto') %>>Auto Detect</option>
                  <option value="alsa"<% obplayer.HTTPAdmin.form_item_selected('audio_out_mode','alsa') %>>ALSA</option>
                  <option value="esd"<% obplayer.HTTPAdmin.form_item_selected('audio_out_mode','esd') %>>Esound</option>
                  <option value="jack"<% obplayer.HTTPAdmin.form_item_selected('audio_out_mode','jack') %>>JACK</option>
                  <option value="oss"<% obplayer.HTTPAdmin.form_item_selected('audio_out_mode','oss') %>>OSS</option>
                  <option value="pulse"<% obplayer.HTTPAdmin.form_item_selected('audio_out_mode','pulse') %>>Pulse Audio</option>
                  <option value="test"<% obplayer.HTTPAdmin.form_item_selected('audio_out_mode','test') %>>No Output</option>
                </select></td>
            </tr>
            <tr id="audio_out_alsa_device_row">
              <td>ALSA Device Name</td>
              <td><input type="text" name="audio_out_alsa_device" value="<% obplayer.Config.setting('audio_out_alsa_device',True) %>"></td>
            </tr>
            <tr id="audio_out_jack_name_row">
              <td>Jack Port Name</td>
              <td><input type="text" name="audio_out_jack_name" value="<% obplayer.Config.setting('audio_out_jack_name',True) %>"></td>
            </tr>
            <tr>
              <td>Enable Audio Visualization</td>
              <td><input type="checkbox" name="audio_out_visualization" value="1"<% obplayer.HTTPAdmin.form_item_checked('audio_out_visualization') %>></td>
            </tr>
            <tr>
              <td>Gstreamer Init Callback</td>
              <td><input type="text" name="gst_init_callback" value="<% obplayer.Config.setting('gst_init_callback',False) %>"></td>
            </tr>
          </tbody>
        </table>

        <h4>Audio Input Settings</h4>

        <table class="settings">
          <tbody>
            <tr>
              <td>Enable Audio In Source</td>
              <td><input type="checkbox" name="audio_in_enable" value="1"<% obplayer.HTTPAdmin.form_item_checked('audio_in_enable') %>></td>
            </tr>
            <tr>
              <td>Audio Input Mode</td>
              <td><select id="audio_in_mode_select" name="audio_in_mode">
                  <option value="auto"<% obplayer.HTTPAdmin.form_item_selected('audio_in_mode','auto') %>>Auto Detect</option>
                  <option value="alsa"<% obplayer.HTTPAdmin.form_item_selected('audio_in_mode','alsa') %>>ALSA</option>
                  <option value="jack"<% obplayer.HTTPAdmin.form_item_selected('audio_in_mode','jack') %>>JACK</option>
                  <option value="oss"<% obplayer.HTTPAdmin.form_item_selected('audio_in_mode','oss') %>>OSS</option>
                  <option value="pulse"<% obplayer.HTTPAdmin.form_item_selected('audio_in_mode','pulse') %>>Pulse Audio</option>
                  <option value="test"<% obplayer.HTTPAdmin.form_item_selected('audio_in_mode','test') %>>No Output</option>
                </select></td>
            </tr>
            <tr id="audio_in_alsa_device_row">
              <td>ALSA Device Name</td>
              <td><input type="text" name="audio_in_alsa_device" value="<% obplayer.Config.setting('audio_in_alsa_device',True) %>"></td>
            </tr>
            <tr id="audio_in_jack_name_row">
              <td>Jack Port Name</td>
              <td><input type="text" name="audio_in_jack_name" value="<% obplayer.Config.setting('audio_in_jack_name',True) %>"></td>
            </tr>

          </tbody>
        </table>

        <h4>Video Output Settings</h4>

        <table class="settings">
          <tbody>
            <tr>
              <td>Enable Video Output</td>
              <td><input type="checkbox" name="video_out_enable" value="1"<% obplayer.HTTPAdmin.form_item_checked('video_out_enable') %>></td>
            </tr>
            <tr>
              <td>Video Output Mode</td>
              <td><select id="video_out_mode_select" name="video_out_mode">
                  <option value="auto"<% obplayer.HTTPAdmin.form_item_selected('video_out_mode','auto') %>>Auto Detect</option>
                  <option value="x11"<% obplayer.HTTPAdmin.form_item_selected('video_out_mode','x11') %>>X11</option>
                  <option value="xvideo"<% obplayer.HTTPAdmin.form_item_selected('video_out_mode','xvideo') %>>XVideo</option>
                  <option value="opengl"<% obplayer.HTTPAdmin.form_item_selected('video_out_mode','opengl') %>>OpenGL</option>
                  <option value="egl"<% obplayer.HTTPAdmin.form_item_selected('video_out_mode','egl') %>>EGL/GLES</option>
                  <option value="wayland"<% obplayer.HTTPAdmin.form_item_selected('video_out_mode','wayland') %>>Wayland</option>
                  <option value="ascii"<% obplayer.HTTPAdmin.form_item_selected('video_out_mode','ascii') %>>Coloured ASCII</option>
                </select></td>
            </tr>
          </tbody>
        </table>

        <h4>Video Overlay Settings</h4>

        <table class="settings">
          <tbody>
            <tr>
              <td>Enable Video Overlay</td>
              <td><input type="checkbox" name="overlay_enable" value="1"<% obplayer.HTTPAdmin.form_item_checked('overlay_enable') %>></td>
            </tr>
          </tbody>
        </table>

        <h4>Image Output Settings</h4>

        <table class="settings">
          <tbody>
            <tr>
              <td>Enable Image Transitions</td>
              <td><input type="checkbox" name="images_transitions_enable" value="1"<% obplayer.HTTPAdmin.form_item_checked('images_transitions_enable') %>></td>
            </tr>
            <tr>
              <td>Fixed Width</td>
              <td><input type="text" name="images_width" value="<% obplayer.Config.setting('images_width', True) %>"></td>
            </tr>
            <tr>
              <td>Fixed Height</td>
              <td><input type="text" name="images_height" value="<% obplayer.Config.setting('images_height', True) %>"></td>
            </tr>
            <tr>
              <td>Fixed Framerate</td>
              <td><input type="text" name="images_framerate" value="<% obplayer.Config.setting('images_framerate', True) %>"></td>
            </tr>
          </tbody>
        </table>

        <table class="settings">
          <tbody>
            <tr>
              <td colspan="2"><input name="save" type="button" onclick="javascript: Site.save('audio');" value="Save"></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div style="display: none;" id="content-alerts">

        <table class="settings">
          <tbody>
            <tr>
              <td>Enable National Emergency Alerts</td>
              <td><input type="checkbox" name="alerts_enable" value="1"<% obplayer.HTTPAdmin.form_item_checked('alerts_enable') %>></td>
            </tr>
            <tr>
              <td>Primary Language</td>
              <td>
		<select id="alerts_language_primary_select" name="alerts_language_primary">
                  <option value="english"<% obplayer.HTTPAdmin.form_item_selected('alerts_language_primary','english') %>>English</option>
                  <option value="french"<% obplayer.HTTPAdmin.form_item_selected('alerts_language_primary','french') %>>French</option>
                  <option value="inuktitut"<% obplayer.HTTPAdmin.form_item_selected('alerts_language_primary','inuktitut') %>>Inuktitut</option>
                </select>
	      </td>
            </tr>
            </tr>
            <tr>
              <td>Primary Voice (for TTS)</td>
              <td>
		<select id="alerts_voice_primary_select" name="alerts_voice_primary">
                  <option value="en"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_primary','en') %>>en</option>
                  <option value="fr"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_primary','fr') %>>fr</option>
                  <option value="mb-en1"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_primary','mb-en1') %>>mb-en1</option>
                  <option value="mb-us1"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_primary','mb-us1') %>>mb-us1</option>
                  <option value="mb-us2"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_primary','mb-us2') %>>mb-us2</option>
                  <option value="mb-us3"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_primary','mb-us3') %>>mb-us3</option>
                  <option value="mb-fr1"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_primary','mb-fr1') %>>mb-fr1</option>
                  <option value="mb-fr4"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_primary','mb-fr4') %>>mb-fr4</option>
                  <option value="mb-la1"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_primary','mb-la1') %>>mb-la1</option>
                  <option value="mb-sw1"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_primary','mb-sw1') %>>mb-sw1</option>
                  <option value="mb-sw2"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_primary','mb-sw2') %>>mb-sw2</option>
                </select>
	      </td>
            </tr>
            <tr>
              <td>Secondary Language</td>
              <td>
		<select id="alerts_language_secondary_select" name="alerts_language_secondary">
                  <option value=""<% obplayer.HTTPAdmin.form_item_selected('alerts_language_secondary','') %>>None</option>
                  <option value="english"<% obplayer.HTTPAdmin.form_item_selected('alerts_language_secondary','english') %>>English</option>
                  <option value="french"<% obplayer.HTTPAdmin.form_item_selected('alerts_language_secondary','french') %>>French</option>
                  <option value="inuktitut"<% obplayer.HTTPAdmin.form_item_selected('alerts_language_secondary','inuktitut') %>>Inuktitut</option>
                </select>
	      </td>
            </tr>
            <tr>
              <td>Secondary Voice (for TTS)</td>
              <td>
		<select id="alerts_voice_secondary_select" name="alerts_voice_secondary">
                  <option value="en"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_secondary','en') %>>en</option>
                  <option value="fr"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_secondary','fr') %>>fr</option>
                  <option value="mb-en1"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_secondary','mb-en1') %>>mb-en1</option>
                  <option value="mb-us1"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_secondary','mb-us1') %>>mb-us1</option>
                  <option value="mb-us2"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_secondary','mb-us2') %>>mb-us2</option>
                  <option value="mb-us3"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_secondary','mb-us3') %>>mb-us3</option>
                  <option value="mb-fr1"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_secondary','mb-fr1') %>>mb-fr1</option>
                  <option value="mb-fr4"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_secondary','mb-fr4') %>>mb-fr4</option>
                  <option value="mb-la1"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_secondary','mb-la1') %>>mb-la1</option>
                  <option value="mb-sw1"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_secondary','mb-sw1') %>>mb-sw1</option>
                  <option value="mb-sw2"<% obplayer.HTTPAdmin.form_item_selected('alerts_voice_secondary','mb-sw2') %>>mb-sw2</option>
                </select>
	      </td>
            </tr>
            <tr>
              <td>Location Geocode</td>
              <td><input type="text" name="alerts_geocode" value="<% obplayer.Config.setting('alerts_geocode', True) %>"></td>
            </tr>
            <tr>
              <td>Alert Repeat Interval (in minutes)</td>
              <td><input type="text" name="alerts_repeat_interval" value="<% obplayer.Config.setting('alerts_repeat_interval', True) %>"></td>
            </tr>
            <tr>
              <td>NAAD Stream #1 URL</td>
              <td><input type="text" name="alerts_naad_stream1" value="<% obplayer.Config.setting('alerts_naad_stream1',True) %>"></td>
            </tr>
            <tr>
              <td>NAAD Stream #2 URL</td>
              <td><input type="text" name="alerts_naad_stream2" value="<% obplayer.Config.setting('alerts_naad_stream2',True) %>"></td>
            </tr>
            <tr>
              <td>NAAD Archive #1 URL</td>
              <td><input type="text" name="alerts_naad_archive1" value="<% obplayer.Config.setting('alerts_naad_archive1',True) %>"></td>
            </tr>
            <tr>
              <td>NAAD Archive #2 URL</td>
              <td><input type="text" name="alerts_naad_archive2" value="<% obplayer.Config.setting('alerts_naad_archive2',True) %>"></td>
            </tr>
            <tr>
              <td>Play Moderately Severe Alerts</td>
              <td><input type="checkbox" name="alerts_play_moderates" value="1"<% obplayer.HTTPAdmin.form_item_checked('alerts_play_moderates') %>></td>
            </tr>
            <tr>
              <td>Play Test Alerts</td>
              <td><input type="checkbox" name="alerts_play_tests" value="1"<% obplayer.HTTPAdmin.form_item_checked('alerts_play_tests') %>></td>
            </tr>
            <tr>
              <td colspan="2"><input name="save" type="button" onclick="javascript: Site.save('alerts');" value="Save"></td>
            </tr>
          </tbody>
        </table>

        <h4>Alerting System Tests</h4>

        <table>
          <tbody>
            <tr>
              <td>Test Alerts</td>
              <td><select id="test_alert_select" name="test_alert">
                  <option value="obplayer/alerts/data/testalerts/1example_CAPCP_No_Attachment.xml">Simple Test</option>
                  <option value="obplayer/alerts/data/testalerts/2example_CAPCP_with_Embedded_Large_Audio_File.xml">Embedded Audio Test</option>
                  <option value="obplayer/alerts/data/testalerts/4example_CAPCP_with_External_Large_Audio_File.xml">External Audio Test</option>
                </select></td>
            </tr>
            <tr>
              <td colspan="2"><input id="alerts_inject_button" type="button" value="Inject Alert"></td>
            </tr>
          </tbody>
        </table>

        <h4>Active Alerts</h4>

	<div>
	  <span>Last Heartbeat Received:</span>
	  <span id="alerts-last-heartbeat"></span>
	</div>
	<div>
	  <span>Alerts Will Play In:</span>
	  <span id="alerts-next-play"></span>
	</div>
	<table id="active-alerts" class="alerts-table">
	</table>
	<input id="alerts_cancel_button" type="button" value="Cancel Alerts">

        <h4>Expired Alerts</h4>

	<table id="expired-alerts" class="alerts-table">
	</table>

      </div>
      <div style="display: none;" id="content-http">

        <table class="settings">
          <tbody>
            <tr>
              <td>Enable SSL</td>
              <td><input id="http_admin_secure" type="checkbox" name="http_admin_secure" value="1"<% obplayer.HTTPAdmin.form_item_checked('http_admin_secure') %>></td>
            </tr>
            <tr>
              <td>Dashboard Port</td>
              <td><input type="text" name="http_admin_port" value="<% obplayer.Config.setting('http_admin_port',True) %>"></td>
            </tr>
            <tr id="http_admin_sslcert_row">
              <td>SSL Certificate File</td>
              <td><input type="text" name="http_admin_sslcert" value="<% obplayer.Config.setting('http_admin_sslcert',True) %>"></td>
            </tr>
            <tr>
              <td>Username</td>
              <td><input type="text" name="http_admin_username" value="<% obplayer.Config.setting('http_admin_username',True) %>"></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input type="password" name="http_admin_password" value="<% obplayer.Config.setting('http_admin_password',True) %>"></td>
            </tr>
            <tr>
              <td>Dashboard Title</td>
              <td><input type="text" name="http_admin_title" value="<% obplayer.Config.setting('http_admin_title',True) %>"></td>
            </tr>
            <tr>
              <td colspan="2"><input name="save" type="button" onclick="javascript: Site.save('http');" value="Save"></td>
            </tr>
          </tbody>
        </table>

      </div>

      <div style="display: none;" id="content-liveassist">

        <table class="settings">
          <tbody>
            <tr>
              <td>Enable Live Assist</td>
              <td><input type="checkbox" name="live_assist_enable" value="1"<% obplayer.HTTPAdmin.form_item_checked('live_assist_enable') %>></td>
            </tr>
            <tr>
              <td>Live Assist HTTP Port</td>
              <td><input type="text" name="live_assist_port" value="<% obplayer.Config.setting('live_assist_port', True) %>"></td>
            </tr>
            <tr>
              <td colspan="2"><input name="save" type="button" onclick="javascript: Site.save('liveassist');" value="Save"></td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>

    <p style="font-size: 0.9em; padding-top: 1em;">OpenBroadcaster Player is released under Affero GPL v3 and may be downloaded at <a href="http://www.openbroadcaster.com/">openbroadcaster.com</a>.  View <a href="http://www.gnu.org/licenses/agpl.html">license</a>.</p>

  </body>
</html>
