<!DOCTYPE html PUBLIC "-//W3C/DTD HTML 4.01//EN">
<html>
  <head>
    <title><%= obplayer.HTTPAdmin.title %></title>
    <meta charset="utf-8" />
    <link href="/common.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/extras/jquery.min.js"></script>
    <script type="text/javascript" src="/common.js"></script>
    <% import os %>

    <%
    def format_size(bytes):
      for unit in ['', 'KB', 'MB', 'GB' ]:
        if bytes < 1024.0:
            return "%3.2f %s" % (bytes, unit)
        end
        bytes /= 1024.0
      end
    end
    %>

  </head>

  <body>
    <div id="logs-download" data-tns="Logs Download">

      <div class="column">
        <h2><span data-t>Status Logs</h2>

        <table>
          <% basedir = obplayer.Config.get_datadir('logs') %>
          <% for filename in sorted(os.listdir(basedir), reverse=True): %>
          <tr>
            <td><a href="/logs/<%= urlencode(filename) %>"><%= filename %></a></td>
            <td class="filesize"><%= format_size(os.path.getsize(os.path.join(basedir, filename))) %></td>
          </tr>
          <% end %>
        </table>
      </div>

      <div class="column">
        <h2><span data-t>Audio Logs</h2>

        <table>
          <% basedir = obplayer.Config.get_datadir('audiologs') %>
          <% for filename in sorted(os.listdir(basedir), reverse=True): %>
          <tr>
            <td><a href="/audiologs/<%= urlencode(filename) %>"><%= filename %></a></td>
            <td class="filesize"><%= format_size(os.path.getsize(os.path.join(basedir, filename))) %></td>
          </tr>
          <% end %>
        </table>
      </div>

      <div class="column">
        <h2><span data-t>Off-air Audio Logs</h2>

        <table>
          <% basedir = obplayer.ObData.get_datadir() + "/offair-audiologs" %>
          <% for filename in sorted(os.listdir(basedir), reverse=True): %>
          <tr>
            <td><a href="/offair-audiologs/<%= urlencode(filename) %>"><%= filename %></a></td>
            <td class="filesize"><%= format_size(os.path.getsize(os.path.join(basedir, filename))) %></td>
          </tr>
          <% end %>
        </table>
      </div>

    </div>

    <p style="font-size: 0.9em; padding-top: 1em;" data-tns="Footer">
      <span data-t>footer3_message</span> <a href="http://www.openbroadcaster.com/">openbroadcaster.com</a>.
      <a href="http://www.gnu.org/licenses/agpl.html"><span data-t> Affero GPL v3</span>.</a>
    </p>
  </body>
</html>
